<!-- Entertainment Grid Section -->
<section id="entertainment" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Entertainment</h2>
                <h3 class="section-subheading text-muted">Choose from a wide selection of entertainment venues, whether it be a day's stroll or night life!</h3>
            </div>
        </div>
        <div class="row">
        {% for activity in site.entertainment %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                    <img src="img/food/{{ activity.img }}.jpg" class="img-centered" height="240px" width="360px" alt="">
                <div class="portfolio-caption">
                    <h4>{{ activity.name }}</h4>
                    <p class="text-muted">{{ activity.description }}</p>
                    <p class="text-muted">{{ activity.location }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>