 <!-- Portfolio Modals -->
 {% for lodge in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ lodge.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ lodge.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ lodge.img }}" class="img-responsive img-centered" alt="{{ lodge.alt }}">
                            <p>{{ lodge.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Address:
                                    <strong><a href="http://startbootstrap.com">{{ lodge.address }}</a>
                                    </strong>
                                </li>
                                <li>Phone:
                                    <strong><a href="http://startbootstrap.com">{{ lodge.phone }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
