<!-- Transportation Grid Section -->
    <section id="transportation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transportation</h2>
                    <h3 class="section-subheading text-muted">Almost all visitors arrive to Taniti by air, though some arrive on a small cruise ship that docks in Yellow Leaf Bay for one night per week. Taniti is served by a small airport that can accommodate small jets and propeller planes. Taniti is in the process of expanding the airport so larger jets will be able to land on the island within the next few years.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Public Transportation</h4>
                    <p class="text-muted">Public buses serve Taniti City and run from 5 a.m. to 11 p.m. daily.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Private Bus</h4>
                    <p class="text-muted">Serves the rest of the island outside of Taniti City.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Taxi</h4>
                    <p class="text-muted">Available in Taniti City.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Car Rental</h4>
                    <p class="text-muted">Can be rented from a local agency near the airport.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Other</h4>
                    <p class="text-muted">Bikes and helmet (required by law) can be rented from various vendors around the island. The flat landscape of Taniti City also makes is a breeze to explore by foot.</p>
                </div>
            </div>
        </div>
    </section>